<div class="container-fluid background_about_1 d-flex align-items-center justify-content-center flex-column">
      <div class="px-5 text_about_1">
        <h2 class="text-center fw-bold orange mb-4">About Move and Groove</h2>
        <p class="text-center">Welcome to Moove & Groove! Our fitness app helps you track your workouts, set goals, and reach your full potential. With our user-friendly interface and advanced tracking tools, you'll be on your way to a healthier you in no time</p>
      </div>
</div>

<div class="container-fluid background_about_2 bg-primary">
  <div class="row p-5">
    <div class="col-md-8 col-6 d-flex justify-content-center align-items-center">
      <p class="text_about_2">
        With Moove & Groove, you can set goals for yourself and track your progress towards achieving them.
        Our advanced tracking tools help you analyze your data, so you can see where you're making progress and where you need to improve.
        <br>
        <br>
        Our app is designed to be flexible and customizable, so you can track any type of workout, from running and cycling to weightlifting and yoga. You can also sync your data with other fitness apps, so you can get a complete picture of your health and wellness.
        <br>
        <br>


At Moove & Groove, we believe that fitness should be fun and rewarding. With our app, you'll be able to see the results of your hard work and stay motivated to keep pushing yourself. Join us today and start your journey towards a healthier, happier you!
      </p>

    </div>
    <div class="col-md-4 col-6">
        <%= image_tag 'about_2.png', class: 'img_about_2'%>
    </div>
  </div>
</div>
